Package: in.imagineer.sshtoggled
Name: sshtoggled
Version: 0.0.1
Architecture: iphoneos-arm
Description: A tweak daemon to control sshd
Maintainer: Praseetha KR <praseetha04@gmail.com>
Author: Praseetha KR <praseetha04@gmail.com>
Section: System
Tag: role::hacker
